<h2 class='is-size-2'>About</h2>
<p class='is-size-4'>Hi! My name is Sam and I make polished/functional web apps using Ruby & JavaScript.</p>
<h3 class='is-size-3'>Tech Stack</h3>
<div display='inline-block'>
  <img src='/images/react-icon.png' height='128px' width='128px'>
  <img src='/images/ruby-on-rails-icon.png' height='128px' width='128px'>
  <img src='/images/postgresql-icon.png' height='128px' width='128px'>
</div>

