<h1 class='is-size-1'>About Me</h1>
<p class='is-size-4'>Hi! My name is Sam and I make polished/functional web apps using Ruby & JavaScript.</p>
<h2 class='is-size-3'>Tech Stack</h2>
<div display='inline-block'>
  <img src='/images/react-icon.png' height='128px' width='128px'>
  <img src='/images/ruby-on-rails-icon.png' height='128px' width='128px'>
  <img src='/images/postgresql-icon.png' height='128px' width='128px'>
</div>
<h2 class='is-size-3'>Adventures in Hungary</h2>
<p class='is-size-4'>I lived in Hungary for two years as a volunteer teaching English for free. During that time I learned a lot!
  I learned how to take care of  myself, how to work with others from different backgrounds, and I learned Hungarian.
  While maybe not the most popular language, I definitely had a blast challenging myself everyday. Communication is the most
  important tool humans possess and learning a new way of communicating is an awesome goal! I definitely recommend it!</p>

