<h1 class='is-size-1'>Samuel Grasse-Haroldsen - Full Stack Developer</h1>
<p class='is-size-3'>I'm a software engineer based out of Oregon. I like clean UI's and fast back-ends.</p>
<figure class='image is-4by3'>
<img src='/images/sam.JPG' />
</figure>