<!DOCTYPE html>
<html>
  <head>
    <title>samuel g-h</title>
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css'>
    <style>
    .font{
	font-family: Hack, Arial, Helvetica, sans-serif;
    }
    body {background-color: black;
	  color: white;}
    </style>
  </head>
  <body>
    <h1 class = "font">samuel grasse-haroldsen</h1>
    <h2 class = "font">ruby developer</h2>
    <p class = "font">my name is sam and i make polished/functional web apps using ruby. i am currently studying at flatiron school.</p>
    <h2 class = "font">my current tech stack</h2>
    <ul class = "font">
      <li>rack</li>
      <li>sinatra</li>
      <li>sqlite</li>
      <li>active record</li>
    </ul>
    <h2 class = "font"><a href="https://github.com/SamG-H" target=blank_new>check out my github</a></h2>
    <h2 class = "font"><a href="https://rubygems.org/gems/fruit-info" target=blank_new>check out my ruby fruit-info gem</a></h2>
  </body>
</html>
    

