<h1 class='is-size-1'>Samuel Grasse-Haroldsen - Full Stack Developer</h1>
<p class='is-size-3'>
  I'm a software engineer fluent in Hungarian and ready to innovate on the international scene.
  I like clean UIs and performant back-ends.
</p>
<figure class='image is-4by3'>
<img src='/images/sam.JPG' />
</figure>