<!DOCTYPE html>
<html>
  <head>
    <title>samuel g-h</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css" />
    <script src="https://kit.fontawesome.com/cddd873ef8.js" crossorigin="anonymous"></script>
    </style>
  </head>
  <body>
    <nav class='navbar'>
        <a href='/' class='navbar-item'>Home</a>
        <a href='/about' class='navbar-item'>About</a>
        <a href='/portfolio' class='navbar-item'>Portfolio</a>
    </nav>

    <div class="container">
    
    <%= yield %>

    </div>

    <footer class="footer">
     <div class="content has-text-centered"> 
        <a href="https://github.com/SamG-H" target=blank_new>
          <i class="fab fa-github"></i>
        </a>

        <a href="https://www.linkedin.com/in/samuel-grasse-haroldsen/" target=blank_new>
          <i class="fab fa-linkedin"></i>
        </a>

        <a href="https://dev.to/szam" target=blank_new>
          <i class="fab fa-dev"></i>
        </a>
      <p>Samuel Grasse-Haroldsen</p>
    </div>
    
    </footer>
  </body>
</html>