<!DOCTYPE html>
<html>
  <head>
    <title>samuel g-h</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </style>
  </head>
  <body>
    <nav class='navbar'>
        <a href='/' class='navbar-item'>Home</a>
        <a href='/about' class='navbar-item'>About</a>
        <a href='/portfolio' class='navbar-item'>Portfolio</a>
    </nav>

    <div class="container">
    
    <%= yield %>

    </div>
    <footer class="footer">
     <div class="content has-text-centered">
      <span class="icon">
        <a href="https://github.com/SamG-H" target=blank_new><i class="fa fa-github is-large"></i></a>
      </span>
       Sam Grasse-Haroldsen
    </div>
    </footer>
  </body>
</html>