<h2 class='is-size-2'>fruit-info gem</h2>
<p class='is-size-4'>check it out on <a href="https://rubygems.org/gems/fruit-info" target=blank_new>rubygems.org</a></p>
<iframe width="460" height="259" src="https://www.youtube.com/embed/z_FrjzZ14_k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
<h2 class='is-size-2'>Forge & Fix</h2>
<iframe width="460" height="259" src="https://www.youtube.com/embed/KR-9KcJcCiw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>